
body{
font-family: 'Times New Roman', Times, serif;
margin: 0;
padding: 0;
background-color:navy;
color:darkgoldenrod;
}

header{
    background-color:navy;
    color:lightgreen;
    text-align: centre;
    padding: 20px;
    position: relative;
}

header img{
    width: 100px;
    height: auto;
    margin: 0 auto;
    display:block;
}

nav {
    background-color: chocolate;
    display: flex;
    justify-content: center
}

nav a {
    color:darkgreen;
    text-decoration: none;
    font-size: 1.1cm;
    padding: 14px 20px;
    text-align: center;
}

nav a:hover { 
    background-color: cornsilk;
    color: darkmagenta;
}

section {
    padding: 20px;
}

.team {
    margin: 20px;
    width: 100%;
    height: auto;
}

.member img{
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
    height: auto;

}

.services.service{
    margin-top: 20px;
}

#ABOUT{
    padding: 20px;
    background-color: bisque;
    margin: 50px auto;
    max-width: 9000px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(red, green, blue, alpha);
}


#services{
    padding: 20px;
    background-color:darkkhaki;
    margin: 50px auto;
    max-width: 9000px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(red, green, blue, alpha);
}

.services h3{
    color: brown;
}


#contact{
    padding: 20px;
    background-color: aqua;
    margin: 50px auto;
    max-width: 9000px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(red, green, blue, alpha);
}
footer{
    background-color: darkgrey;
    color: aliceblue;
    text-align:justify;
    padding: 10px 0;
    position: dynamic;
    width: 100%;
    bottom: 0;
}


form {
    display: flex;
    flex-direction: column;
}

form label{
    margin-top: 10px;
}

form input,form textarea,form button{
    width: 35%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px salmon;
    border-radius: 5px;
}

form button{
    background-color: coral;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(140, 0, 255);
}

.enlarge{
    width: 300px;
    height: auto;
}